body {
    background-color: #202125;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    color: #a9acb2;
}

header {
    background-color: #202125;
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    padding: 0 20px;
}

.header-icon {
    margin: 10px 0;
    max-height: 55px;
}

.header-text {
    font-size: 1.8em;
    text-transform: uppercase;
    margin: 0;
}

#nav-button {
    font-size: 1.5em;
    color: inherit;
}

#nav-button:hover {
    cursor: pointer;
    opacity: .8;
}

#hidden-nav {
    display: none;
    width: 75%;
    margin: auto;
    margin-bottom: 25px;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    /* box-shadow: 0 2px 2px rgba(0,0,0,0.2); */
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12), 
                0 2px 2px rgba(0, 0, 0, .12), 
                0 4px 4px rgba(0, 0, 0, .12), 
                0 8px 8px rgba(0, 0, 0, .12),
                0 16px 16px rgba(0, 0, 0, .12);
    /* transform: translateY(-220px); */
    z-index: 9;
    
}

.nav-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2em;
    background-color: #323337;
    margin: 5px 0;
    padding: 8px;
    width: 41%;
    height: 60px;
    border-radius: 10px;
    color: #a9acb2 !important;
    text-decoration: none;
}

.nav-option i {
    margin-bottom: 3px;
}

.nav-option:hover {
    cursor: pointer;
    opacity: .8;
}

.content {
    margin: auto;
    width: 90%;
}

p {
    border: solid 2px #323337;
    border-radius: 15px;
    padding: 10px;
}

#scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 7px;
    height: 7px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #d4edff;
    color: #0a95fb;
    padding: 24px;
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
    transition-property: background, color, bottom, opacity, visibility;
    transition-duration: .25s;
}

#scroll-to-top[data-show="false"] {
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

#scroll-to-top:hover {
    cursor: pointer;
    opacity: .8;
}