/* 
  COLORES
  Fondo: 202125
  Segundo plano o tarjetas: 323337
  Títulos: e8eaed
  Texto: a9acb2
  Bordes de tarjetas: 5f6368
*/

@font-face {
  font-family: 'Product Sans';
  src: local('Product Sans'), url('../fonts/ProductSans-Regular.woff') format('woff');
}

:root {
  --background: #202125;
  --cards: #323337;
  --cards-border: 1px solid #5f6368;
  --titles: #e8eaed;
  --text: #a9acb2;
}

body {
  background-color: var(--background);
  height: 100vh;
  font-family: 'Product Sans', 'Ubuntu', sans-serif;
  color: var(--text);
}

#page-header {
  background-color: var(--background);
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  padding: 0 20px;
}

#header-icon {
  margin: 10px 0;
  /*Se comentó porque se colocó en el archivo index.html con fin de optimizar la carga del espacio para la imagen max-height: 55px; */
}

#header-text {
  font-size: 1.8em;
  margin: 0;
  color: var(--titles);
}

#nav-button {
  font-size: 1.5em;
  color: inherit;
}

#nav-button:hover {
  cursor: pointer;
}

#nav-button:active {
  opacity: .8;
}

.nav-container {
  background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
  height: auto;
}

#main-nav {
  display: flex;
  position: absolute;
  width: 75%;
  margin: auto;
  transition: top .25s;
  background-color: var(--background);
  margin-bottom: 25px;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
  border-radius: 0 0 15px 15px;
  /* box-shadow: 0 2px 2px rgba(0,0,0,0.2); */
  box-shadow: 0 1px 1px rgba(0, 0, 0, .12), 
              0 2px 2px rgba(0, 0, 0, .12), 
              0 4px 4px rgba(0, 0, 0, .12), 
              0 8px 8px rgba(0, 0, 0, .12),
              0 16px 16px rgba(0, 0, 0, .12);
  /* transform: translateY(-220px); */
  z-index: 9;
  top: -230px;
}

.nav-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2em;
  background-color: var(--cards);
  margin: 5px 0;
  padding: 8px;
  width: 41%;
  height: 60px;
  border-radius: 10px;
  color: var(--titles);
  text-decoration: none;
}

.nav-option i {
  margin-bottom: 3px;
}

.nav-option:hover {
  cursor: pointer;
}

.nav-option:active {
  opacity: .8;
}

.content {
  margin: auto;
  width: 90%;
}

.main-page-section {
  border: var(--cards-border);
  border-radius: 15px;
  margin: 25px 0;
  padding: 7px;
}

.main-page-section header {
  padding: 4px;
}

.main-page-section header h2 {
  color: var(--titles);
  font-size: 1.1em;
  margin: 3px auto;
}

.main-page-section header p {
  font-size: .9em;
  margin: 3px auto;
}

.articles-container {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  /* Para esconder la barra de scroll en Firefox */
  scrollbar-width: none;
}

/* Para esconder la barra de scroll en Chrome */
.articles-container::-webkit-scrollbar {
  display: none;
}

.article-link {
  text-decoration: none;
  min-width: 60%;
  height: 110px;
  background-color: var(--cards);
  color: var(--text);
  padding: 8px;
  margin: 5px 5px;
  border-radius: 15px;
}

.article-link article {
  height: 100%;
}

.article-information {
  height: 75%;
}

.article-information h3 {
  color: var(--titles);
  font-size: 1em;
  margin: 3px auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.article-information p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.price-container {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
}

.price {
  /* color: #1e8e3d; */
  color: #e87009;
  font-weight: bold;
  font-size: .9em;
  /* background-color: #e6f4ea; */
  background-color: #fdf7df;
  padding: 5px;
  margin-top: 2px;
  border-radius: 10px;
  height: auto;
}

.price i {
  margin-right: 4px;
}

#scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 7px;
  height: 7px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #d4edff;
  color: #0a95fb;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
  transition-property: background, color, bottom, opacity, visibility;
  transition-duration: .25s;
}

#scroll-to-top[data-show="false"] {
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

#scroll-to-top:hover {
  cursor: pointer;
}

#scroll-to-top:active {
  opacity: .8;
}