body {
    background-color: #202125;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    color: #a9acb2;
}

header {
    background-color: #202125;
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 0 20px;
}

.header-icon {
    margin: 10px 0;
    max-height: 55px;
}

.header-text {
    font-size: 2em;
    margin: 0;
}

#nav-button {
    font-size: 1.5em;
}

#nav-button:hover {
    cursor: pointer;
    opacity: .8;
}

#hidden-nav {
    display: none;
    width: 75%;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    /* transform: translateY(-220px); */
    z-index: 9;
    
}

.nav-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2em;
    background-color: #323337;
    margin: 5px 0;
    padding: 8px;
    width: 41%;
    height: 60px;
    border-radius: 10px;
    color: #a9acb2 !important;
    text-decoration: none;
}

.nav-option i {
    margin-bottom: 3px;
}

.nav-option:hover {
    cursor: pointer;
    opacity: .8;
}

.content {
}